<a href="https://colab.research.google.com/github/Yeyeong99/class2021Spring/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### index 
1. 문자열의 인덱스 <br>
ex) <br>
s = 'abc' 이면 a는 s[0], b는 s[1], c는 [2] <br>
반대는 -1,-2,-3<br>
s[:2] = 0부터 끝까지 출력하라. <br>
s[1:2] = 두 번째부터 세 번째까지 출력하라. <br>
s[:] = 모두 출력하라<br>
s[-1] = c

In [3]:
s = 'abcef'
print(s[0], s[3], s[-1], s[-4])
print(s[1:3], s[1:], s[:3], s[:])

a e f b
bc bcef abc abcef

2. 리스트의 인덱스<br>
ex)<br>
list = [1,2,3]<br>
list[0] => 1 , list[1] => 2, list[2] => 3 <br>
list[1:2] => [2,3]

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

len = 길이를 반환해주는 함수<br>
len(n) = 3
파이썬에선 같은 type의 요소끼리 연산 가능<br>

In [4]:
len(s)

5

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

문자열.upper() : 대문자로 변환해주는 함수<br>
문자열.lower() : 소문자로 변환해주는 함수

In [9]:
print(s.upper())

 THIS IS A 	 HOUSE WN BUILT THIS YEAR.

\n : 줄바꿈


\t : tab

find('원하는 문자') : 원하는 문자를 찾아줌

In [8]:
s = ' this is a \t house wn built this year.\n' 	
print(s)

 this is a 	 house wn built this year.

In [10]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

13

In [ ]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

1

In [ ]:
result = s.rindex('this')        # like s.find(t) except it raises ValueError if not found
result

23

In [ ]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

In [ ]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

'that is a house built that year.'