<a href="https://colab.research.google.com/github/Yeyeong99/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

type을 알아볼 때 : type(원하는 자료형)<br>
파이썬 자료형 : int, float, string, list, tuple, dict

In [1]:
a = '1'; print(type(a))

<class 'str'>

In [3]:
a = '1'; a = int(a); print(type(a))

<class 'int'>

In [5]:
a = 1.2; a = str(a); print(type(a))

<class 'str'>

In [8]:
a = 123; print(type(a)); a = str(a) ;print(a[1])

<class 'int'>
2

In [ ]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

In [10]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][0]); print(type(a[2][1]))

<class 'list'>
1
2
[3, '4']
3
<class 'str'>

In [11]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'tuple'>
1
2
[3, '4']
4

In [13]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])
print(a["b"])
print(type(a["c"]))

<class 'dict'>
apple
orange
<class 'int'>

In [14]:
a=[(1,2,3), (3,8,0)]
print(type(a[1]))
a

<class 'tuple'>

[(1, 2, 3), (3, 8, 0)]